rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /chat_media/{allPaths=**} {
      allow read, write: if request.auth != null && (
        request.auth.token.email == 'rishisolanki7319@gmail.com' ||
        request.auth.token.email == 'hetvidodiya2447@gmail.com'
      );
    }
  }
}
